/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .withMenuLogo a.logo-area { 
        margin-right: 40px;
    }
    .header-actions a.themeBtn.inactive {
        margin-right: 10px;
    }
    .hero-content h1 { 
        font-size: 62px;
        line-height: 76px; 
    }
    .minfoBlk h5 {
        font-weight: 500;
        font-size: 28px;
        line-height: 40px;
        margin: 20px 0;
    }

    .auth-area img.shapeImgs { 
        max-height: 590px;
    }
    








}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    body { 
        background: #09030d; 
    }
    .header-area ul#menu{
        display: none;
    }
    .hero-content h1 {
        text-align: left;
        font-size: 52px;
        line-height: 90px;
        margin-bottom: 40px;
    }
    .hero-area {
        padding-top: 40px;
    }
    .hero-img img {
        text-align: left;
        display: block;
    }
    
    .minfoBlk {
        padding: 0 15px;
    }
    
    .minfoBlk h5 {
        font-weight: 500;
        font-size: 18px;
        line-height: 46px;
    }
    
    .moreinfo {
        margin-top: 80px;
    }
    
    .howitsWork {
        padding: 60px 0;
    }
    
    .singleStep {
        padding: 40px;
    }
    
    footer > img {
        margin-top: -38px;
        margin-bottom: 30px; 
    }
    
    .footerLeftWidget form p {
        margin-top: 40px;
    }
    
    .footer-content-wrp {
        padding-top: 60px;
    }
    .auth-area img.shapeImgs { 
        max-height: 420px;
    }
    .auth-area { 
        padding: 220px 0; 
    }

    .bst_img{
        margin-top: 0;
    }
    footer.footre2 ul.menus a { 
        margin: 0 20px;
    }
    .dashboard .row {
        flex-direction: column-reverse;
    }
    
    .dashboard .dash-wrp-right {
        margin-bottom: 40px;
    }











}

 
/* small screen :320px. */
@media (max-width: 767px) {
    body { 
        background: linear-gradient(0, #12071b, #12071b, #0d0613, #0d0613, #0d0613) 
    }
    .header-area ul#menu{
        display: none;
    }
    footer { 
        padding-top: 70px;
    }
    .hero-content h1 {
        text-align: left;
        font-size: 24px;
        line-height: 90px;
        margin-bottom: 20px;
    }
    .hero-area {
        padding-top: 0px;
    }
    .hero-img img {
        text-align: left;
        display: block;
        margin-left: -15%;
    }
    .minfoBlk {
        width: 100%;
        margin-bottom: 30px;
        padding: 0 15px;
    }
    .minfoBlk h5 {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    
    .moreinfo {
        margin-top: 80px;
        flex-wrap: wrap;
    }
    .section-title h1 {
        font-size: 22px;
        line-height: 76px;
    }
    .howitsWork {
        padding: 0px 0;
    }
    .singleStep {
        padding: 40px 12px;
        width: 100%;
        margin-top: 130px;
    }
    footer > img {
        /* margin-top: -38px;
        margin-bottom: 30px; */
        display: none;
    }
    
    .footerLeftWidget form p {
        margin-top: 40px;
    }
    
    .footer-content-wrp {
        padding-top: 0px;
        flex-wrap: wrap;
    }
    .section-title h1 {
        font-size: 22px;
        line-height: 76px;
    }
    
    .cta-wrp {
        flex-wrap: wrap;
        text-align: center;
    }
    
    .cta-wrp > a.themeBtn {
        margin: auto;
        margin-top: 40px;
    }
    
    .cta-content h3 {
        font-size: 24px;
        line-height: 65px;
    }
    
    .cta-content p {
        margin-top: 0;
        font-size: 16px;
        line-height: 28px;
        color: #fff;
    }

    .cta-area {
        padding: 130px 0;
        margin-top: 50px;
    }
    .cta-area > img { 
        min-width: 800px; 
    }
    .footerLeftWidget a img {
        max-height: 70px;
    }
    .footerLeftWidget form label button { 
        width: 45px;
        height: 45px; 
    }
    .singleFBlk {
        max-width: 100%;
        width: 100%;
        margin-top: 50px;
    }
    .singleFBlk > a { 
        margin-top: 10px; 
    }
    .fbtm { 
        padding-bottom: 30px;
        padding-top: 20px; 
        margin-top: 50px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .fbtm p {
        font-size: 14px; 
        margin-top: 14px; 
    }
    .fbtm ul li{
        margin-left: 0;
        margin-right: 15px;
        margin-bottom: 5px;
    }
    .fbtm ul li:last-child {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0;
    }
    .fbtm ul {  
        justify-content: flex-start;
        width: 100%;
        flex-wrap: wrap;
        padding-right: 80px;
        position: relative;
    }



    .auth-area img.shapeImgBg {
        max-width: 300px;
        height: auto;
        left: 0;
        top: 70px;
    }
    .auth-area img.shapeImgs {
        width: 100%;
        object-fit: cover;
    }
    .bst_img{
        margin-top: 0;
        margin-bottom: 30px;
    } 
    .bio-setting .row.last-row {
        flex-direction: column-reverse;
    }

    .testingcontents .tscActions .actions{
        margin-top: 15px;
    }
    .tactBtns a.themeBtn,.tactBtns a.themeBtn.inactive {
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        padding: 8px 15px;
        border-radius: 5px;
    }
    
    .tactBtns a.themeBtn.inactive {
        margin-left: 4px;
    }
    
    .tactBtns a.themeBtn img {
        max-height: 11px;
    }
    .tactBtns { 
        margin: 20px 0;
    }
    label.urlsort > div a {
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        padding: 5px 10px;
    }
    label.urlsort p{
        font-size: 12px;
        line-height: 19px;
    }
    label.urlsort { 
        margin-bottom: 30px;
    }
    ul.the_colors li { 
        height: 65px; 
    }
    .accordion-item button.accordion-button { 
        padding: 10px;
    }
    .accordion-item button.accordion-button > img { 
        right: 15px; 
    }
    footer.footre2 ul.menus li{
        width: 100%;
    }
    footer.footre2 ul.menus a { 
        display: block;
        margin: 0;
        margin-bottom: 10px;
    }
    .header-area.header2 {
        padding: 10px 0;
    }
    footer.footre2 { 
        padding: 40px 0;
        padding-bottom: 20px;
    }


    .dashboard {
        padding: 35px 0;
    }



    .dashboard .row {
        flex-direction: column-reverse;
    }
    
    .dashboard .dash-wrp-right {
        margin-bottom: 30px;
        border-radius: 25px;
        padding: 20px 15px;
    }
    .dashblk { 
        padding: 20px;
        margin-bottom: 15px; 
    }
    .dashblk:last-child{
        margin-bottom: 0;
    }
    .dash-graph { 
        border-radius: 20px;
        padding: 0;
        padding-top: 10px;
        margin-bottom: 50px;
    }
    .dash-content_titles a.themeBtn {
        padding: 9px 15px;
    }
    .dash-content_titles button { 
        margin-left: 11px;
    }
    .testingListBlk { 
        border-radius: 10px;
        margin-top: 20px;
        padding: 15px; 
    }

    .testingListBlk-left div > a { 
        font-size: 14px;
    }
    .testingListBlk-left > div > div { 
        margin-top: 10px;
    }
    .testingListBlk-right { 
        margin: auto;
        margin-top: 15px;
    }
    .testingListBlk-right a {
        margin-left: 15px;
        max-width: 20px;
    }






}
 
/* Large Mobile screen :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
