/*   Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('../fonts/customfonts/style.css');
/* 
  font-family: 'Inter', sans-serif;
    font-family: 'Gordita Regular';
*/


body {
  font-family: 'Inter', sans-serif;
  font-weight: 300; 
  color: #D8CAE1;
  background: #0d0613;
  font-size: 16px; 
  line-height: 24px;
}

  
button {
  cursor: pointer; }

a:focus,
.button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  color: inherit;
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; }

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gordita Regular';
  color: #FFFFFF;
  margin-top: 0px; 
  font-weight: 700; 
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 40px;
 }

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

 .padding{
   padding-right: 0;
 }
 
 .container{
    max-width: 1270px;
 }
img{
  max-width: 100%;
  user-select: none;
  -webkit-user-drag: none;
}
a{
  text-decoration: none;
}
main{
  overflow: hidden;
}
.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 24px; 
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #dedede;
  border-radius: 40px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  background: #fff;
  border-radius: 50%;
  left: 4px;
  bottom: 3px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: #2ACD01;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -moz-transform: translateX(18px);
  transform: translateX(18px);
}

input:focus + .slider {
}






/* default-css END 
================================== */






/* Breadcrumb css  */
.Breadcrumb-area ul.bcmb {
  margin-top: 20px;
}
ul.bcmb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

ul.bcmb li {
  color: #fff;
  margin-right: 14px;
}
/* Breadcrumb css  */

















.header-area {
  padding: 15px 0;
}
.header-area.header2{
  padding: 30px 0;
}
.fixed_header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.withMenuLogo {
  display: flex;
  align-items: center;
}
.withMenuLogo a.logo-area img {
  display: block;
  max-height: 65px;
}
.withMenuLogo a.logo-area {
  display: block;
  margin-right: 60px;
}

ul#menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

ul#menu li {
  margin-right: 30px;
  color: #FFFFFF;
  position: relative;
  cursor: pointer;
}
ul#menu li:last-child{
  margin-right: 0;
}
ul#menu li a {
  transition: all .2s;
}

ul#menu li a:not(.active):hover {
  color: #74538f;
}

ul#menu li a.active {
  font-weight: 700;
}
ul#menu li > ul {
  position: absolute;
  top: 30px;
  right: 0;
  background: #fff;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: .2s;
}
ul#menu li:hover > ul {
  opacity: 1;
  visibility: visible;
}
ul#menu li > ul li a {
  color: #000;
  font-weight: 500;
  padding: 6px 10px;
  display: block;
  border-bottom: 1px solid #0000001f;
  width: 100%;
}

ul#menu li > ul li {
  width: 100%;
}
ul#menu li > span {
  display: flex;
  align-items: center;
}

ul#menu li > span img.fimg {
  margin-right: 6px;
}

ul#menu li > span img.arrimg {
  margin-left: 10px;
}












.header-area {
  padding: 15px 0;
}

a.themeBtn,.themeBtn {
  padding: 14px 30px;
  border-radius: 8px; 
  color: #fff;
  transition: .2s;
  position: relative;
  display: inline-block;
  z-index: 4;
}

a.themeBtn.inactive,.themeBtn.inactive {
  background: no-repeat;
  border: 1px solid #FFFFFF;
  padding: 13px 32px;
}

a.themeBtn.inactive:hover,.themeBtn.inactive:hover {
  background: #fff;
  color: #000;
}

.header-actions a.themeBtn.inactive {
  margin-right: 10px;
}

a.themeBtn:not(.inactive):after,
a.themeBtn:not(.inactive):before,
.themeBtn:not(.inactive):after,
.themeBtn:not(.inactive):before
{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(216.03deg, #FF54B9 13.81%, #FED05C 88.82%);
  z-index: -1;
  border-radius: 8px;
  transition: .3s;
}
a.themeBtn:not(.inactive):before{
  background: linear-gradient(90.03deg, #FF54B9 13.81%, #FED05C 88.82%);
}
a.themeBtn:not(.inactive):hover:after {
  opacity: 0;
}
/* humbergar */
.bar a {
  margin-left: auto;
  display: block;
  width: 36px;
  height: 36px;
  float: right;
  position: relative;
} 
.header-area.header2 .bar a{
  margin-left: 0;
  float: left;
}

/* humbarger END */
 

/* mobile-menu START */
.mobile-menu {
  position: fixed;
  width: 320px;
  height: 100vh;
  background: #0d0613;
  z-index: 99999;
  box-shadow: 0px 0px 9px -1px #38383882;
  top: 0;
  left: 0;
  transition: .3s;
  margin-left: -400px;
  padding: 30px;
}
.siteBar{
  margin-left: 0; 
}
.mobile-menu .header-actions {
  margin-top: 50px;
}
.mobile-menu a.logo {
  display: block;
  max-width: 110px;
  margin-top: -10px;
  margin-bottom: 45px;
}
.mobile-menu ul#menu li {
  width: 100%;
  margin-bottom: 15px;
}
.mobile-menu a.bars {
  position: absolute;
  right: 20px;
  top: 25px;
  width: 40px;
  height: 40px;
  background: #e70909;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  font-size: 22px;
  color: #fff;
  box-shadow: 0px 0px 17px -2px #0000004a;
}
.mobile-menu a.themeBtn {
  padding: 14px 24px; 
}



/* Header section END && Hero-area STARTED*/




.hero-area {
  padding-top: 68px;
}
.hero-area .container {
  max-width: 1140px;
}
.hero-content h1 {
  font-weight: 700;
  font-size: 58px;
  line-height: 74px;
  margin: 0;
}

.moreinfo {
  display: flex;
  /* align-items: flex-start; */
  justify-content: space-between;
  margin-top: 125px;
}

.minfoBlk {
  width: 47%;
  padding: 0 34px;
  text-align: center;
  border: 3px solid;
  border-image-slice: 1;
  border-width: 3px;
}
.minfoBlk h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 50px;
  margin: 0;
  margin-top: 10px;
}
.minfoBlk.pirple { 
  border-image-source: linear-gradient(to bottom, #9D01FE -20%, #E2E2E280 40%, #12071B8A 100%);
}
.minfoBlk.pink { 
  border-image-source: linear-gradient(#ff57b7 -20%, #e2e2e25e 40%, #12071b8a 100%);
}
 

.minfoBlk.pirple h5 {
  color: #9D01FE;
}

.minfoBlk.pink h5 {
  color: #FF57B7;
}





/* Hero-area END && How its working started */



.howitsWork {
  padding: 100px 0;
}
.section-title h1 {
  font-size: 38px;
  line-height: 60px;
}
.workdingSteps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.singleStep {
  width: 47%;
  background: #1C1620;
  border-radius: 30px;
  text-align: center;
  padding: 50px;
  margin-top: 150px;
  position: relative;
}

.stepRepresenter {
  margin: auto;
  margin-bottom: 25px;
  margin-top: -100px;
  border-radius: 50%;
  width: max-content;
  position: relative;
  z-index: 2;
}

.stepRepresenter img {
  display: block;
  margin: auto;
  max-height: 60px;
}
.stepRepresenter:after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: rgba(36, 97, 202, 0.4);
  filter: blur(45px);
}
.singleStep.ylw .stepRepresenter:after {
  background: rgba(254, 154, 98, 0.4);
}
.singleStep.pink .stepRepresenter:after {
  background: rgba(255, 84, 185, 0.4);
}
.singleStep.softblue .stepRepresenter:after {
  background: rgba(47, 174, 202, 0.4);
}
.singleStep .stwrp h5 {
  font-size: 24px;
  line-height: 65px;
  margin: 0;
}
.singleStep .stwrp p {
  margin: 0;
}

.singleStep .stwrp {
  max-width: 320px;
  margin: auto;
}
.singleStep > img {
  max-height: 260px;
  margin: auto;
  margin-top: -180px;
  margin-bottom: -65px;
  display: block;
}














.cta-wrp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cta-content {
  max-width: 765px;
}
.cta-content h3 {
  font-size: 52px;
  line-height: 75px;
  margin: 0;
}
.cta-content p {
  margin: 0;
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}
.cta-area {
  padding: 200px 0;
  position: relative;
  z-index: 2;
}
.cta-area > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100%;
  height: 100%;
}













/* CTA-area START && Footer-area START */





footer {
  overflow: hidden;
  background: #12071B;
}

footer > img {
  margin-top: -130px;
  margin-bottom: 20px;
}

.fbtm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 20px;
    border-top: 1px solid #130944;
    margin-top: 120px;
}

.fbtm p {
    margin: 0;
    line-height: 97%;
}

.fbtm ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fbtm ul li {
    margin-left: 20px;
}

.footerLeftWidget a {
    display: block;
    width: max-content;
    margin-bottom: 30px;
}

.footerLeftWidget form {}

.footerLeftWidget form p {
    color: #fff;
    margin-top: 60px;
}

.footerLeftWidget form  label {
    display: flex;
    align-items: center;
    background: #311B43;
    border: 1px solid #130944;
    width: 100%;
    position: relative;
    max-width: 350px;
}

.footerLeftWidget form label button {
    background: #9D01FE;
    width: 63px;
    height: 52px;
    border: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footerLeftWidget form label input {
    display: block;
    width: 84%;
    padding: 11px;
    border: none;
    background: none;
    font-size: 16px;
    color: #fff;
}

::placeholder {
    color: #775692;
}

.footerLeftWidget {
    max-width: 350px;
}

.footer-content-wrp {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding-top: 90px;
}

.singleFBlk {
    max-width: 235px;
}

.singleFBlk > a {
    display: block;
    font-size: 16px;
    line-height: 22px;
    margin-top: 15px;
    transition: .2s;
}

.singleFBlk  h5 {
    font-size: 20px;
    margin-bottom: 20px;
}

.singleFBlk ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.singleFBlk ul li a {
    display: block;
    margin-right: 16px;
    margin-top: 20px;
}

.singleFBlk > a:hover {
    color: #fff;
}
.nice-select {
  padding: 0;
  padding-right: 22px;
  background: none;
  border: none;
  height: 34px;
}

.nice-select span.current {
  font-size: 18px;
  line-height: 97%;
  color: #9D85B1;
}
.nice-select.open .list {
  bottom: 30px;
  top: auto;
  left: auto;
  right: 0;
  flex-wrap: wrap;
  margin: 0;
  background-color: #12071b;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgb(255 255 255 / 11%);
}

.nice-select.open .list li {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0px 20px;
  min-height: 30px;
  line-height: 34px;
}

.nice-select.open .list li.option.selected.focus {
  color: #000; 
  background-color: #ffffff !IMPORTANT;

}
.nice-select:after {
  border: none;
  border-top: 10px solid #000;
  border-right: 10px solid #9D85B1;
  width: 0;
  height: 0;
  right: 5px;
  margin-top: -7px;
}







/* Home page END and Auth page started */




 



/* .auth-area {
  position: relative;
  padding: 290px 0;
  z-index: 2;
  overflow: hidden;
} */
.auth-area {
  position: relative;
  padding: 90px 0;
  z-index: 2;
  overflow: hidden;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.auth-area img.shapeImgs {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 100%;
}

.auth-area img.shapeImgBg {
  right: 0;
  top: 0;
  height: 100%;
  object-fit: cover;
  object-position: left;
  z-index: -2;
}

.auth-area > img {
  position: absolute;
  z-index: -1;
}
.mulstistepform {
  text-align: center;
  max-width: 450px;
  margin-left: auto;
}
.steps h5 {
  font-size: 50px;
  line-height: 60px;
}
.steps p {
  font-weight: 400;
  font-size: 19px;
  line-height: 29px;
  color: #fff;
  margin-top: 10px;
}
.steps p button {
  padding: 0;
  border: none;
  outline: none;
  background: none;
  color: #FF8992;
  font-weight: 600;
}
.steps {
  display: none;
}
.steps.active {
  display: block;
} 

.steps label {
  display: block;
  width: 100%;
  text-align: left;
  position: relative;
  color: #fff;
  margin-top: 20px;
}

.steps input,.steps textarea {
  background: #6F29A7;
  border: 1px solid rgba(255, 255, 255, 0.44);
  border-radius: 8px;
  height: 50px;
  color: #fff;
  display: block;
  width: 100%;
  margin-top: 8px;
  padding: 10px;
}
.steps textarea{
  height: 150px;
}
.steps label img {
  position: absolute;
  bottom: 15px;
  right: 20px;
  cursor: pointer;
  opacity: .4;
  transition: .3s;
}
.steps label img.active{
  opacity: 1;
}
.steps > button {
  background: linear-gradient(94.65deg, #DE00CB 8.11%, #0040FF 90.39%);
  border-radius: 8px;
  height: 54px;
  padding: 14px 40px;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  margin-top: 40px;
}

.steps > a {
  display: block;
  margin-top: 25px;
  font-weight: 400;
  font-size: 19px;
  line-height: 29px;
  color: #fff;
}
.otp_inp {
  background: #6F29A7;
  border: 1px solid rgba(255, 255, 255, 0.44);
  border-radius: 8px;
  padding: 30px 50px 28px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.otp_inp input {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.44);
  margin: 0 5px;
}










/* Auth page END and Bio page started */







 
 


.header-area.header2 {
  background: url(../img/bio/bg.png);
  background-size: cover;
  background-position: center;
}

.header-area.header2 .withMenuLogo {
  width: 100%;
  justify-content: flex-end;
}
footer.footre2 {
  background: #131416;
  border-top: 2px solid #363636;
  text-align: center;
  padding: 50px 0;
}

footer.footre2 ul.menus {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer.footre2 ul.menus li:last-child a{
  opacity: .5;
}
footer.footre2 ul.menus a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0 30px;
}

footer.footre2 ul.fsocial {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 29px 0;
}

footer.footre2 ul.fsocial a {
  display: block;
  margin: 0 15px;
  opacity: .5;
  transition: .3s;
}
footer.footre2 ul.fsocial a:hover{
  opacity: 1;
}
.fwdg p {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.testingcontents .tscActions .actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.testingcontents > h4 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 48px;
    line-height: 44px;
    margin: 20px 0;
}

.tscActions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tscActions .no_action h4 {
    line-height: 24px;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
}

.tscActions .no_action h4:before {
    content: "";
    display: block;
    position: relative;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #8C89FF;
    margin-right: 9px;
}

.tscActions .no_action a {
    color: #FFFFFF;
    display: block;
    margin-top: 3px;
}

.tscActions .actions a {
    display: inline-block;
    margin-left: 40px;
    transition: .2s;
}
.tscActions .actions a:hover{
  opacity: .7;
}
.tactBtns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0;
}
label.urlsort {
  display: block;
  width: 100%;
  margin-bottom: 40px;
}

label.urlsort > span {
  color: #DBDBDB;
  margin-bottom: 4px;
  display: block;
}

label.urlsort > div {
  display: flex;
  border: 1px solid #6E6E6E;
  border-radius: 5px;
}

label.urlsort > div a {
  text-decoration-line: underline;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14.4px;
  line-height: 22px;
  background: #525252;
  padding: 10px 20px;
}

label.urlsort > div input {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  color: #fff;
  padding: 0 10px;
}

label.urlsort p {
  color: #FFFFFF;
  margin-top: 6px;
}
.tactBtns a.themeBtn.inactive {
  margin-left: 20px;
}
.accordion-item {
  border: none !important;
  margin-bottom: 20px;
  background: none;
}

.accordion-item button.accordion-button {
  background: linear-gradient(90deg, rgba(134, 19, 198, 0.75) 0%, rgba(154, 66, 153, 0.75) 50.58%, rgba(43, 97, 96, 0.75) 100%);
  border-radius: 4px;
  color: #fff;
  outline: none;
  box-shadow: none;
}
.accordion-item button.accordion-button:not(.collapsed) > img{
  transform: rotate(180deg);
}
.accordion-item button.accordion-button > span {
  background: #13071B;
  border-radius: 4px;
  width: 48px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

.accordion-button::after {
  display: none;
}

.accordion-item button.accordion-button > img {
  position: absolute;
  right: 30px;
  transition: .2s;
}
ul.the_colors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

ul.the_colors li {
  width: 23%;
  height: 115px;
  background: #FF8787;
  border-radius: 8px;
  margin-bottom: 2.5%;
}

.accordion-body {
  padding: 0;
} 
.bio-setting-wrp button.themeBtn.upbtn {
    display: block;
    width: 100%;
}
.bst_img {
  text-align: right;
  margin-top: -200px;
}
.bio-setting {
  padding-bottom: 50px;
}

.dash-graph {
  background: rgba(19, 20, 22, 0.2);
  border: 1px solid #444546;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 20px;
  margin-bottom:70px;
}

.dash-content_titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dash-content_titles h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.dash-content_titles  button {
  border: none;
  padding: 0;
  background: none;
  margin-left: 40px;
}

.dash-content_titles button img {
  height: 17px;
  transition: .2s;
}

.dash-content_titles button:hover img {opacity: .7;}

.testingListBlk {
  background: rgba(19, 20, 22, 0.2);
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  margin-top: 20px;
  padding: 40px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

.testingListBlk-left {
  display: flex;
  align-items: flex-start;
}

.testingListBlk-left > img {
  display: block;
  width: 40px;
  margin-right: 10px;
}

.testingListBlk-left  p {
  color: #DBDBDB;
  margin: 0;
}

.testingListBlk-left a {
  color: #FFFFFF;
}

.testingListBlk-left a img {
  margin-right: 3px;
}
.testingListBlk-left > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
}

.testingListBlk-left > div > div div {
  color: #FFFFFF;
  font-size: 12.8px;
  line-height: 13px;
  display: flex;
  align-items: center;
}

.testingListBlk-left > div > div div img {
  margin-right: 5px;
  margin-top: -3px;
}

.testingListBlk-left > div > div span {
  background: #4C5967;
  border-radius: 4px;
  padding: 5px 10px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
}

.testingListBlk-left > div > div span img {
  height: 17px;
}
.testingListBlk-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.testingListBlk-right a {
  margin-left: 20px;
}
.dash-wrp-left > p {
  color: #FFFFFF;
  margin: 0;
  margin-top: 20px;
}
.dash-wrp-left > p {
  color: #FFFFFF;
  margin: 0;
  margin-top: 20px;
}

.dash-wrp-right {
  background: rgba(19, 20, 22, 0.2);
  border: 1px solid #5F5F5F;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 35px 40px;
}

.dashblk {
  background: rgba(54, 54, 54, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.dashblk:last-child{
  margin-bottom: 0;
}
.dashblk > span {
  width: 52px;
  height: 52px;
  background: linear-gradient(180deg, #9A4299 -6%, #8613C6 94%);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.46);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.dashblk h3 {
  margin: 0;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 30px;
  line-height: 29px;
}

.dashblk h3 > span {
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 5px;
  font-weight: 500;
}

.dashblk.inactive h3 {
  opacity: .4;
}
.dashboard {
  padding: 50px 0;
}

